// Place all the styles related to the bands controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import 'variables';
#bands-page{
	@include active-list;
	.right-column{
		display: inline-block;
		height: 100%;
		width: 70%;
		color: white;
		.band-limiter{
			position: relative;
			margin: 0 auto;
			width: $photo-slider-width;
			height: 100%;
			padding-top: $cntnt-vertical-text-padding;
			h1::first-letter{
				text-transform: capitalize;
			}
			p{
				line-height: 20px;
			}
		}
		
	}
}
