// Place all the styles related to the bands controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#bands{
	top: 0;
	color: red;
	padding-left: 5%;
	padding-right: 5%;
	position: absolute;
	overflow-y: scroll;
	height: 100%;
	z-index: 1000;
}