<aside player>
</aside>
<div class="nav-view-limiter">
	<nav class="slider" slider>
		<slide heading="about" page="about"></slide>
		<slide heading="bands" page="bands"></slide>
		<slide heading="releases" page="releases"></slide>
	</nav>
	<section ui-view>
	</section>	
</div>

