.adminSlider{
	position: relative;
	width: 1px;
	float: right;
}
.adminClmn{
	min-width: 60px
}
.adminClmn:nth-child(1){
	position: absolute;
	color: white;
	text-decoration: none;
	right: 60px;
}
.adminClmn:nth-child(2){
	position: absolute;
	color: white;
	text-decoration: none;
	right: 30px;
}
.adminClmn:nth-child(3){
	position: absolute;
	color: white;
	text-decoration: none;
	right: 0;
}	
