@import "variables";
[player]{
	height: 100%;
	width: $player-width;
	float: right;
	background-color: rgba(0,0,0,0.5);
	padding-top: $ctrl-vertical-text-padding;
	z-index: 1000;
	p{
		color: white;
		text-align: center;
		margin: 0;
		font-size: 20px;
		line-height: 20px;
	}
	.homeLink{
		cursor: pointer;
	}
	.play-button{
		border-radius: 50%;
		position: relative;
		margin: 20px auto;
		height: 23px;
		width: 23px;
		background-color: #636363;
		text-align: center;
		background-image: image-url("play_button.svg");
		background-repeat: no-repeat;
		background-position: center center;
		cursor: pointer;
	}
}