[player]{
	height: 100vh;
	width: 67px;
	float: right;
	background-color: rgba(0,0,0,0.5);
	padding-top: 5%;
	p{
		color: white;
		text-align: center;
		margin: 0;
		font-size: 20px;
		line-height: 20px;
	}
	.homeLink{
		cursor: pointer;
	}
}