.slider{
	height: 100vh;
	overflow: hidden;
	.column{
		position: relative;
		display: inline-block;
		cursor: pointer;
		vertical-align: top;
		padding-left: 1%;
		padding-right: 1%;
		height: 100%;
		padding-top: 6%;
		p{
			font-size: 18px;
			color: white;
			margin: 0;
			margin-top: 20%;
		}
	}
	.column.slideRight{
		left: 90%;
	}
}