@import "variables";
@import "fonts";
body, html{
	height:  100%;
    margin:  0px auto;
    padding: 0px auto;
    overflow: hidden;
}
*{
	font-family: "BPtypewrite"
}
#root{
	position: relative;
	#main-view{
		width: auto;
		height: 100%;
		margin-left: $slider-clmn-width * 3;
		margin-right: $player-width + $slider-clmn-width * 3;
		overflow: hidden;
	}
}
.mainBack{
	min-width: 100%;
	min-height: 100%;
	position: absolute;
	bottom: 0;
	left: 0;
	z-index: -1000;
} 

/* animations start*/
#root:not(.noAnimation){
	#main-view.ng-enter, #main-view.ng-leave {
		@include slide-transition(.5s,ease-in-out);
		position: absolute;
		width: 100%;
		height: 100%;
		margin: 0;
		z-index: -1;
		.page{
			margin-left: $slider-clmn-width * 3;
			margin-right: $slider-clmn-width * 3 + $player-width;
		}
	}
}
/* slide right*/
#main-view.ng-enter{ left: -100%; }
#main-view.ng-enter-active { @include slide-transform(100%); }
#main-view.ng-leave { @include slide-transform(0); }
#main-view.ng-leave-active { @include slide-transform(100%); }	
/* slide left*/
.slideLeft{
	#main-view.ng-enter { left: 100%; }
	#main-view.ng-enter-active{ @include slide-transform(-100%)}
	#main-view.ng-leave { @include slide-transform(0)}
	#main-view.ng-leave-active { @include slide-transform(-100%)}
}
/* animations end*/