@font-face {
	font-family: 'BPtypewrite';
	src: asset-url('BPtypewrite.otf');

};
@font-face {
  	font-family: 'ProximaNova';
  	src: url('ProximaNova-Reg.otf');
}
body, html{
	height:  100%;
    margin:  0px auto;
    padding: 0px auto;
    overflow: hidden;
}
*{
	font-family: "BPtypewrite"
}
ul{
	-webkit-margin-before: 0;
    -webkit-margin-after: 0;
    -webkit-margin-start: 0;
    -webkit-margin-end: 0;
    -webkit-padding-start: 0;
}

#root{
	position: relative;
	.nav-view-limiter{
		width: auto;
		height: 100%;
		overflow: hidden;
		[ui-view]{
			width: auto;
			height: 100%;
			margin-left: 90px;
			margin-right: 90px;
			overflow: hidden;
		}
	}
}
.mainBack{
	min-width: 100%;
	min-height: 100%;
	position: absolute;
	bottom: 0;
	left: 0;
	z-index: -1;
} 

/* animations start*/
#root:not(.noAnimation){
	[ui-view].ng-enter, [ui-view].ng-leave {
		position: absolute;
		z-index: -1;
		width: 100%;
		height: 100%;
		margin: 0;
	 	-webkit-transition:all .5s ease-in-out;
		-moz-transition:all .5s ease-in-out;
		-o-transition:all .5s ease-in-out;
		transition:all .5s ease-in-out;
	}
}

[ui-view].ng-enter{
	left: -100%;
}
[ui-view].ng-enter-active {
  -webkit-transform:translateX(100%);
  -moz-transform:translateX(100%);
  transform:translateX(100%);
}
[ui-view].ng-leave {
  -webkit-transform:translateX(0);
  -moz-transform:translateX(0);
  transform:translateX(0);
}
[ui-view].ng-leave-active { 
  -webkit-transform:translateX(100%);
  -moz-transform:translateX(100%);
  transform:translateX(100%);
}	


.slideLeft{
	[ui-view].ng-enter {
		left: 100%;
	}
	[ui-view].ng-enter-active{
		-webkit-transform:translateX(-100%);
	  	-moz-transform:translateX(-100%);
	  	transform:translateX(-100%);
	}
	[ui-view].ng-leave {
	  -webkit-transform:translateX(0);
	  -moz-transform:translateX(0);
	  transform:translateX(0);
	}
	[ui-view].ng-leave-active { 
	  -webkit-transform:translateX(-100%);
	  -moz-transform:translateX(-100%);
	  transform:translateX(-100%);
	}
}
/* animations end*/