<img ng-src="{{bands.bandsBack}}" class="mainBack">
<div class="darker"></div>
<div id="bands-page" class="page">
	<aside class="left-column">
		<ul>
			<li ng-repeat="band in bands.bandsList" ui-sref="bands.list({bandId:band.id})">
				<p ng-class="bands.isSelected(band) ? 'band-selected':''">
					<span>{{band.name}}</span>
				</p>
			</li>
		</ul>
	</aside><article class="right-column ">
		<div class="band-limiter" ui-view="bandsList"></div>
	</article>
</div>