<!-- <img ng-src="{{bands.bandsBack}}" class="mainBack"> -->
<div id="bands">
	<ul>
		<li ng-repeat="band in bands.bandsList">
			<a href="" ng-click="bands.onClick(band.id)">{{band.name}}</a> - {{band.description}}
		</li>
	</ul>
	<div photo-slider bandId="{{bands.activeBand}}"></div>
</div>