<img ng-src="{{bands.bandsBack}}" class="mainBack">
<div id="bands-page" class="page">
	<aside class="left-column">
		<ul>
			<li ng-repeat="band in bands.bandsList" ng-click="bands.selectBand(band.id)">
				{{band.name}}
			</li>
		</ul>
	</aside><article class="right-column">
		<div photo-slider bandId={{bands.activeBand}}></div>
	</article>
</div>