<img ng-src="{{bands.bandsBack}}" class="mainBack">
<div id="bands-page" class="page">
	<aside class="left-column">
		<ul>
			<li ng-repeat="band in bands.bandsList" ui-sref="bands.list({bandId:band.id})"
				ng-class="bands.isSelected(band) ? 'red':''">
				{{band.name}}
			</li>
		</ul>
	</aside><article class="right-column">
		<div ui-view="bandsList"></div>
	</article>
</div>