<%= image_tag 'aboutBack.png',class: "mainBack" %>
<div class="cont container">
	<div class="row">
		<div class="offset-by-seven four columns">
			<hr align="left">
			<p>
				we decided once that the noise our friends make should be documented. our aim is to produce some special kind of artifacts, not just to pack music up, therefore we focus much on cover art and all to make each thing really unique. available stuff can be purchased at our discogs store. also, everything can (and should) be listened and downloaded for free at our bandcamp.
			</p>
			<p>
				feel free to turn to us with whatever question you have. 002197@gmail.com
			</p>
			<p>
				cheers from moscow
			</p>
		</div>
	</div>
</div>